<ul>
  <li>
    <a href="newsletter">newsletter</a>
  </li>
  <li>
    <a rel="me" href="https://post.lurk.org/@kindohm">mastodon</a>
  </li>
  <li>
    <a href="https://youtube.com/kindohm">youtube</a>
  </li>
  <li>
    <a href="https://instagram.com/kindohm_">instagram</a>
  </li>
  <li>
    <a href="mailto:mike@kindohm.com">email</a>
  </li>
</ul>