<li>
  <a href="{{ album.bandcampUrl }}" target="_blank">{{ album.title }}</a>
  {% if album.artist != 'kindohm' %}
        as {{ album.artist }}
  {% endif %}
      ({{ album.date | date("YYYY") }})
      {% if album.downloadUrl %}
    <a href="{{album.downloadUrl}}">free download</a>
    {%endif%}
  </li>