<tr>
  <td>
    <a href="{{ album.bandcampUrl }}" target="_blank">{{ album.title }}</a>
    <span class="release-year">({{ album.date | date("YYYY") }})</span>
  </td>

  <td>
    <a href="{{album.bandcampUrl}}">buy</a>
  </td>
  <td>
    {% if album.downloadUrl %}
      <a href="{{album.downloadUrl}}">download</a>
    {% endif %}
  </td>
</tr>
