<li>
  <a href="{{ album.bandcampUrl }}" target="_blank"><img src="{{album.coverUrl}}"/></a>

  <h4>{{album.title}}<br/></h4>

  <p>
    <a href="{{album.bandcampUrl}}" target="_blank">buy</a>
  </p>

  {% if album.downloadUrl %}
    <p>
      <a href="{{album.downloadUrl}}">download</a>
    </p>
  {% endif %}
</li>