body {
  font-family: sans-serif;
  background-color: #fff;
}

body,
a:link,
a:active,
a:visited {
  color: #222;
}

.container {
  margin: 1rem;
}

li {
  margin-top: 0.5rem;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  background-color: #222;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
}

h2 {
  font-size: 2rem;
}

section {
  margin-top: 2rem;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.highlights iframe {
  flex-grow: 1;
}

footer {
  margin: 4rem 0;
  font-size: 66%;
}
