---
layout: layout.njk
---

<h2>Bio</h3>

<div style="max-width: 600px; line-height: 1.5rem;">
  <p>Mike Hodnick, a.k.a. Kindohm, composes and performs electronic music
with code-based sequencers and digital and analog synthesizers. He enjoys
challenging expectations of rhythm and texture, incorporating off-kilter
rhythms and unearthly synthesis.</p>

  <p>Mike has performed at events such as International Digital Media and Arts Association conference (Winona, 2024; 2022), 
  International Computer Music Conference (Limerick, 2022), 
Algorithmic Art Assembly (San Francisco; 2022, 2019), Sound of Stockholm (Stockholm, 2017), 
International Conference on Live Coding (Leeds, 2015; Hamilton 2016), Algomech (Sheffield; 2016, 2017).</p>

  <p>In 2014, Mike received the Minnesota Emerging Composer Award from the American Composers Forum. </p>
</div>