---
layout: layout.njk
pagination:
  data: releases
  size: 1
  alias: release
permalink: 'discography/{{release.id}}'
eleventyComputed:
    title: "{{ release.title }}"
---

<h3>{{ release.title }}</h3>

<table>
  <tbody>
    <tr>
      <td>Release Date:</td>
      <td>{{ release.date | date("MMMM Do, YYYY") }}</td>
    </tr>
    {%- if release.downloadUrl -%}
      <tr>
        <td>Direct download:</td>
        <td>
          <a href="{{release.downloadUrl}}">{{release.filename}}</a>
        </td>
      </tr>
    {%- endif -%}
    {%- if release.bandcampUrl -%}
      <tr>
        <td>Support on Bandcamp:</td>
        <td>
          <a href="{{release.bandcampUrl}}">buy</a>
        </td>
      </tr>
    {%- endif -%}
  </tbody>
</table>