---
layout: layout.njk
---

<style>
  .seen {
    text-decoration: line-through;
  }
</style>

<h2>Bucket List</h3>

<ul>
  <li>Autechre</li>
  <li>SDEM</li>
  <li>Damirat</li>
  <li>Venetian Snares</li>
  <li>Slomatics</li>
  <li>EPROM</li>
  <li>Orphx</li>
  <li>M3g</li>
  <li>Gabor Lazar</li>
  <li>Forces</li>
  <li>AGF</li>
  <li>Aethereal Arthropod</li>
  <li>Brian Blade</li>
  <li class="seen">Battles</li>
  <li class="seen">Napalm Death</li>
  <li class="seen">Chat Pile</li>
  <li class="seen">Knower</li>
  <li class="seen">Tool</li>
  <li class="seen">Mark Fell</li>
  <li class="seen">Richard Devine</li>
  <li class="seen">Baseck</li>
  <li class="seen">William Fields</li>
  <li class="seen">Tomahawk</li>
</ul>