<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="kindohm hodnick livecoding live-coding algorave code programming music electronic improvisation art audio computer computers tidalcycles synthesizer modular harmor synthesis minneapolis minnesota"/>
    <meta name="description" content="Mike Hodnick a.k.a. Kindohm. Programmer and sound artist."/>
    <link rel="stylesheet" href="/css/style2.css">

		<style>
			body {
				color: {{metadata.foreground}};
				background-color: {{metadata.background}};
			}

			a,
			a:active,
			a:link,
			a:visited {
				color: {{metadata.foreground}};
			}
		</style>
  </head>
  <body>

    {% include 'header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer>
    © Copyright 2023 Mike Hodnick. Unauthorized duplication may result in dry mouth. 
    </footer>
  </body>
</html>