---
layout: layout.njk
---

{% for release in releases | releaseById(releaseId) %}
  <h3>{{ release.title }} ({{ release.date | date("YYYY")}})</h3>
  {% if release.isHosted == true %}
    <p>download: <a href="{{release.downloadUrl}}">{{release.filename}}</a>
    </p>
  {% endif %}

  {% if release.bandcampUrl %}
    <p>
      <a href="{{release.bandcampUrl}}">buy on Bandcamp</a>
    </p>
  {% endif %}

  {% if release.cover %}
    <p><img class="release-cover" src="{{release.cover}}" alt="cover"/></p>
  {% endif %}

{% endfor %}

{{ content | safe }}