body {
<<<<<<< HEAD:src/css/style.css
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 1rem;
  background-color: #fff;
  color: #222;
  font-family: monospace;
=======
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin: 1rem;
  background-color: #10b19f;
  color: #a30029;
>>>>>>> fccf291b887117e3bebf9bcaf25c355c5971a70f:src/css/style2.css
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: lowercase;
}

h1 {
  font-size: 7rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
}

body,
a:link,
a:active,
a:visited {
  color: #a30029;
}

a:hover {
  text-decoration: none;
}

h1 a,
h2 a {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.not-found {
  margin-top: 4rem;
}
<<<<<<< HEAD:src/css/style.css
=======

.release-cover {
  width: 100%;
  max-width: 500px;
}

li {
  margin-bottom: 0.5rem;
}
>>>>>>> fccf291b887117e3bebf9bcaf25c355c5971a70f:src/css/style2.css
