body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin: 1rem;
  background-color: #a75e30;
  color: #00294e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: lowercase;
}

h1 {
  font-size: 7rem;
}

@media (max-width: 768px) {
h1 {
  font-size: 5rem;
}
}


h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

body,
a:link,
a:active,
a:visited {
  color: #00294e;
}

a:hover {
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.not-found {
  margin-top: 4rem;
}

.release-cover {
  width: 100%;
  max-width: 500px;
}

li {
  margin-bottom: 0.5rem;
}