body {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: sans-serif;
  margin: 1rem;
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: center;
}

.inner {
  text-align: left;
  margin: auto;
  max-width: 650px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 1.25rem;
  margin-top: 2rem;
}

/* body,
a:link,
a:active,
a:visited {
}
 */

a:hover {
  text-decoration: none;
}

h1 a,
h2 a {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover {
  text-decoration: underline;
}

h1::before {
  content: '# ';
}

h2::before {
  content: '## ';
}

h3::before {
  content: '### ';
}

h4::before {
  content: '#### ';
}

h5::before {
  content: '##### ';
}

h6::before {
  content: '###### ';
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.not-found {
  margin-top: 4rem;
}

td:not(:first-child) {
  padding-left: 1rem;
}

table.wrapped {
  width: max-content; /* shrink-wrap to content */
  border-collapse: collapse;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

table.wrapped th,
table.wrapped td {
  margin: 0;
  padding: 0.375rem;
  white-space: nowrap;
  text-align: left;
}
