---
layout: layout.njk
title: kindohm.com
---

<p>I program computers and music.</p>

<section>
  <h2>contact</h2>
  {% include 'contact.njk' %}
</section>

<section>
  <h2>The Meme Booth podcast</h2>
  <p>I publish a music podcast called <a href="/memebooth">The Meme Booth podcast</a>. Enjoy.
</section>

<section>
  <h2>discography</h2>
  {% include 'release_list.njk' %}
</section>