---
layout: layout.njk
title: kindohm.com
---

<p>I program computers and music.</p>

<section>
  <h2>contact</h2>
  {% include 'contact.njk' %}
</section>

<section>
  <h2>discography</h2>
  {% include 'release_list_grid.njk' %}
</section>