---
layout: layout.njk
title: kindohm.com
---

<p>I program computers and music.</p>

<section>
  <h2>contact</h2>
  {% include 'contact.njk' %}
</section>

<section>
  <h2>discography</h2>
  <p>Downloads are free, if available. Please consider supporting with the "buy" link. Records and tapes are for sale too. </p>
  {% include 'kindohm_releases.njk' %}
  {% include 'eacces_releases.njk' %}
  {% include 'jesse_releases.njk' %}
  {% include 'appears_on.njk' %}

</section>