---
layout: layout.njk
title: newsletter
---

<p>Subscribe to my newsletter. To get updates on new music
and performances. I don't post much more
than a few times a year.</p>
<script async data-uid="3b9864c17e" src="https://deft-artisan-1772.kit.com/3b9864c17e/index.js"></script>